.message {
  padding: 1rem;
  /* background: var(--secondary-bg); */
  background: #0e0e0e;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  gap: 1.5rem;
}

.message:hover {
  transform: scale(1.025);
}

.left {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.text {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 5px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.8rem;
  color: var(--white);
}

.icon {
  max-width: 20px;
}
