.home {
  padding: 1rem;
  color: white;
}

.h1 {
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 1rem;
  letter-spacing: 5px;
  font-size: 1.2rem;
}

.people {
  display: flex;
  width: 100%;
  overflow-x: auto;
  gap: 1rem;
}

.main {
  display: flex;
  gap: 10px;
  margin-top: 2rem;
  gap: 2rem;
}

.responsive {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .responsive {
    flex-direction: column;
  }
  .main {
    justify-content: center;
  }
}
