.card {
  border-radius: 0.4rem;
  max-width: 300px;
  color: white;
}

.card header {
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.card header:hover {
  transform: scale(1.05);
}

.img {
  width: 100%;
  height: auto;
  border-radius: 0.4rem;
}

.like_and_comments {
  display: flex;
  padding: 0.2rem;
  gap: 10px;
}

.like_and_comments div {
  display: flex;
  align-items: center;
  gap: 2px;
}

.likes:hover {
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile p {
  font-size: 0.9rem;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;

  /* background: red; */
}

.prof_pic {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.del {
  position: relative;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  background-color: var(--pink);
  left: 90%;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
}
