@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-bg);
}

:root {
  --primary-bg: #292929;
  --secondary-bg: #121212;
  --shadow: rgba(0, 0, 0, 0.151);
  --pink: #e1306c;
  --orange: #f77737;
  --white: #ffffffda;
}

::-webkit-scrollbar {
  width: 0;
}

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
